{% extends "base.html" %}
{% block content %}
    <br/>
    <div>
        <h2>New Flight</h2>
        <div>
            <form action="/flights/" method="POST">
                <input type="text" name="flight_no" placeholder="Flight number..."/>
                <input type="text" name="aircraft_type" placeholder="Aircraft type..."/>
                <input type="text" name="aircraft_call_letters" placeholder="Call letters"/>
                <input type="date" name="flight_date" placeholder="Date of flight"/>    
                <button>Create</button>
            </form>
        </div>
    </div>
    <br/>
    <h2>Flight List</h2>
    {% for flight in page_data.flights %}
        <a href="/flights/{{ flight.flight_id }}/">{{ flight.flight_no}}</a></br>
    {% endfor %}
{% endblock %}
