{% extends "base.html" %}
{% block content %}
    <br/>
    <div>
        <h2>New Pilot</h2>
        <div>
            <form action="/pilots/" method="POST">
                <input type="text" name="pilot_name" placeholder="Pilot Name..."/>
                <button>Create</button>
            </form>
        </div>
    </div>
    <br/>
    <h2>Pilot List</h2>
    {% for pilot in page_data.pilots%}
        <a href="/pilots/{{ pilot.pilot_id }}/">{{ pilot.pilot_name}}</a></br>
    {% endfor %}
{% endblock %}
