{% extends "base.html" %}
{% block content %}

    <div>
        <h2>Enter Details</h2>
        <form action="/users/signup/" method="POST">
            <input type="text" name="first_name" placeholder="First name...">
            <input type="text" name="last_name" placeholder="Last name...">
            <input type="text" name="email" placeholder="Email...">
            <input type="password" name="password" placeholder="Password...">
            <button>Sign Up</button>
        </form>
    </div>

{% endblock %}