{% extends "base.html" %}
{% block content %}
    <h2>{{ page_data.user.name }}</h2>
    <img src="{{ page_data.image }}" style="width: 250px">
    <div>
        <form action="/users/account/" method="POST">

            <label for="name">Name</label>
            <input type="text" name="name" value = {{ current_user.name }}>

            <label for="email">Email</label>
            <input type="text" name="email" value = {{ current_user.email }}>

            <button>Update</button>

        </form>
        <h3>Update Image:</h3>
        <form action="/users/account/image/" method="POST" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="submit">
            <button>Update</button>
        </form>
    </div>
{% endblock %}